{% extends "home/base_generic.html" %}

{% block content %}
  <h1>Course List</h1>
  <p>
    Course List:
    {% if latest_course_list %}
        <ul>
        {% for course in latest_course_list %}
            <li><a href="{% url 'detail' course.id %}">{{ course.course_title }}</a>
                <p>
                    {{ course.course_description }}
                </p>
            </li>
        {% endfor %}
        </ul>
    {% else %}
    <p>Course가 없습니다.</p>
    {% endif %}
  </p>

{% endblock %}
